<!-- topnav -->
<header>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">folksApp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="loginstuff" href="/add">Add Post</a></li>
            <li><a class="loginstuff myposts">My Posts</a></li>
            <li><a class="loginstuff savedposts">Saved Posts</a></li>
            <li><a href="/search">Search</a></li>
            <li><a class="loginstuff mycart">My Cart</a></li>
            <li><a class="login">Login</a></li>
            <li><a class="logout">Logout</a></li>
        </ul>
    </div>
</nav>
</header>
<main>
<div class="container">
    {{!-- page title --}}
    <div class="col s12 center-align">
        <h3 class="welcome"></h3>
        <h5>MY CART PAGE!</h5>
    </div>
</div>
</main>
{{>login}}
{{>footer}}