<header>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">folksApp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="loginstuff" href="/add">Add Post</a></li>
            <li><a class="loginstuff myposts">My Posts</a></li>
            <li><a class="loginstuff savedposts">Saved Posts</a></li>
            <li><a href="/search">Search</a></li>
            <li><a class="loginstuff mycart">My Cart</a></li>
            <li><a class="login">Login</a></li>
            <li><a class="logout">Logout</a></li>
        </ul>
    </div>
</nav>
</header>
<main>
<div class="container">
    <div class="row">
    <h3 class="names">Post</h3>
    <form class="col s12" method="post" action="/add" enctype="multipart/form-data" id="newPost">
      <div class="input-field col s12" style="display: none">
        <input name='user' id="user" placeholder="User">
      </div>
       <div class="input-field col s12" >
        <label for="item"></label>
        <input name='item' id="item" placeholder="Item" type="text" data-error=".errorTxt1">
        <div class="errorTxt1" id="errormsg"></div>
      </div>
      <div class="input-field col s12" >
        <label for="description"></label>
        <textarea name='description' id="description" class="materialize-textarea" type="text" data-error=".errorTxt2"></textarea>
        <label for="textarea1">Description</label>
        <div class="errorTxt2" id="errormsg"></div>
      </div>
       <div class="input-field col s12">
        <label for="price"></label>
          <input name='price' id="price" placeholder="Price" type="text" data-error=".errorTxt6">
        <div class="errorTxt6" id="errormsg"></div>
      </div>
       <div class="input-field col s12">
        <input id="upload" type="file" "text" name="upl" data-error=".errorTxt8">
        <div class="errorTxt8" id="errormsg"></div>    
      </div>
      <div class="input-field col s12">
        <input class="waves-effect waves-light btn" id="subs" type="submit">
      </div>
    </form>

</div>
</div>
</main>

{{>login}}
{{>footer}}